# 依赖
/node_modules
/.pnp
.pnp.js

# 测试覆盖
/coverage

# 生产构建
/build

# 开发环境
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 数据库
*.db
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo
